body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #121212;
    color: #e0e0e0;
}

header {
    background: linear-gradient(90deg, purple, red);
    padding: 2em;
    color: white;
}

header form {
    position: relative;
    padding: 1em;
    padding-top: 1em;
    margin-top: 1em;
    border: 0.5em solid white;

    border-radius: 10em;
}

header form p {
    position: relative;
    top: -2em;
    padding:    0em;
    font-size: 2em;
    display: inline-block;
}
