/* Main header stuffs */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #121212;
    color: #e0e0e0;
}

header {
    background: linear-gradient(90deg, purple, red);
    padding: 1em;
    color: white;
}

header form {
    position: relative;
    padding: 0em;
    padding-top: 0em;
    margin-top: 0em;
}

fieldset {
    border: 0.15em solid white;

    border-radius: 1em
}


header form p {
    position: relative;
    top: -1.5em;
    padding:    0em;
    font-size: 1em;
    display: inline-block;
}

main {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

main p {
    color: black;
}

main article {
    margin-top:1em;
    border: 0.15em solid #e0e0e0;
    width:25em;
    border-radius: 0em;

}


/* Card stuffs */
.cardDescription {
    display: none;
}

.description {
    color: black;
    line-height: 1.5;


}

.learn-more-btn {
    color: #956ead;
}
article img {
    width: 25em;
    height:auto;
    /*margin:1em;*/
}

article button {
    margin-bottom: 0.5em
    /* color: #956ead;*/
}

@media (max-width: 768px) {

    article {
        flex: 1 1 100%;
    }
}

